<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>


		<typeAlias alias="Empleado"
			type="com.tsiframework.core.domain.model.Empleado" />

		<typeAlias alias="TablaGeneral"
			type="com.tsiframework.core.domain.model.TablaGeneral" />

		<typeAlias alias="Ubigeo" type="com.tsiframework.core.domain.model.Ubigeo" />
		<typeAlias alias="Provincia"
			type="com.tsiframework.core.domain.model.Provincia" />
		<typeAlias alias="Departamento"
			type="com.tsiframework.core.domain.model.Departamento" />
	</typeAliases>


	<mappers>



		<mapper resource="com/tsiframework/core/infraestructure/map/EmpleadoMapper.xml" />

		<mapper
			resource="com/tsiframework/core/infraestructure/map/TablaGeneralMapper.xml" />

		<mapper resource="com/tsiframework/core/infraestructure/map/UbigeoMapper.xml" />

	</mappers>
</configuration>

