<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsiframework.core.infraestructure.repository.EmpleadoDao">

	<resultMap id="ResultMapEmpleado" type="Empleado">

		<id column="IDEMPLEADO" property="idEmpleado" />
		<result column="APELLIDOPATERNO" property="apellidoPaterno" />
		<result column="APELLIDOMATERNO" property="apellidoMaterno" />
		<result column="NOMBRE" property="nombre" />
		
	</resultMap>



	<sql id="columnsEmployee">
		IDEMPLEADO,
		APELLIDOPATERNO,
		APELLIDOMATERNO,
		NOMBRE
	</sql>	
	


	<select id="listarTodoEmpleado" resultMap="ResultMapEmpleado"
		parameterType="Empleado">
		SELECT
		<include refid="columnsEmployee" />
		FROM
		EMPLEADO
	</select>
	
	<insert id="insertarEmpleado" parameterType="Empleado"
		useGeneratedKeys="true" keyProperty="empleado.idEmpleado" keyColumn="IDEMPLEADO">
		INSERT INTO EMPLEADO
		<trim prefix="(" suffix=")" suffixOverrides=",">			
			<if test="empleado.apellidoPaterno != null">
				APELLIDOPATERNO,
			</if>
			<if test="empleado.apellidoMaterno != null">
				APELLIDOMATERNO,
			</if>
			<if test="empleado.nombre != null">
				NOMBRE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">			
			<if test="empleado.apellidoPaterno != null">
				#{empleado.apellidoPaterno},
			</if>
			<if test="empleado.apellidoMaterno != null">
				#{empleado.apellidoMaterno},
			</if>
			<if test="empleado.nombre != null">
				#{empleado.nombre},
			</if>			
		</trim>
	</insert>
	
	<update id="actualizarEmpleado" parameterType="Empleado">
		UPDATE EMPLEADO
		<set>
			<if test="empleado.apellidoPaterno != null">
				APELLIDOPATERNO=#{empleado.apellidoPaterno},
			</if>
			<if test="empleado.apellidoMaterno != null">
				APELLIDOMATERNO=#{empleado.apellidoMaterno},
			</if>
			<if test="empleado.nombre != null">
				NOMBRE=#{empleado.nombre},
			</if>			
		</set>
		WHERE IDEMPLEADO = #{empleado.idEmpleado}
	</update>
	
	<delete id="eliminarEmpleado" parameterType="Empleado">
		DELETE FROM EMPLEADO	
		WHERE IDEMPLEADO = #{empleado.idEmpleado}
	</delete>

	

</mapper>