<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.tsiframework.core.infraestructure.repository.TablaGeneralDao">

	<resultMap id="ResultMapTablaGeneral" type="TablaGeneral">

		<id column="IDTABLAGENERAL" property="idTablaGeneral" />
		<result column="CLASE" property="clase" />
		<result column="CODIGO" property="codigo" />
		<result column="VALOR" property="valor" />
		<result column="ORDEN" property="orden" />

	</resultMap>

	<sql id="columnasTablaGeneral">
		IDTABLAGENERAL,
		CLASE,
		CODIGO,
		VALOR,
		ORDEN
	</sql>

	<select id="obtenerTablaGeneral" resultMap="ResultMapTablaGeneral"
		parameterType="TablaGeneral">
		SELECT
		<include refid="columnasTablaGeneral" />
		FROM
		TABLAGENERAL
		WHERE CODIGO=#{tablaGeneral.codigo}
		AND CLASE=1
	</select>

	<select id="obtenerTablaGeneralTipoContacto" resultMap="ResultMapTablaGeneral"
		parameterType="TablaGeneral">
		SELECT
		<include refid="columnasTablaGeneral" />
		FROM
		TABLAGENERAL
		WHERE CODIGO=#{tablaGeneral.codigo}
		AND CLASE=7
	</select>

	<select id="obtenerTablaGeneralTipoDocumento" resultMap="ResultMapTablaGeneral"
		parameterType="TablaGeneral">
		SELECT
		<include refid="columnasTablaGeneral" />
		FROM
		TABLAGENERAL
		WHERE CODIGO=#{tablaGeneral.codigo}
		AND CLASE=2
	</select>

	<select id="obtenerTablaGeneralEstado" resultMap="ResultMapTablaGeneral"
		parameterType="TablaGeneral">
		SELECT
		<include refid="columnasTablaGeneral" />
		FROM
		TABLAGENERAL
		WHERE CODIGO=#{tablaGeneral.codigo}
		AND CLASE=8
	</select>


	<select id="obtenerListadoTablaGeneral" resultMap="ResultMapTablaGeneral"
		parameterType="TablaGeneral">
		SELECT
		<include refid="columnasTablaGeneral" />
		FROM
		TABLAGENERAL
		WHERE CLASE=#{tablaGeneral.clase}
	</select>








</mapper>