<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsiframework.core.infraestructure.repository.UbigeoDao">

	<resultMap id="ResultMapUbigeo" type="Ubigeo">
		<id column="IDUBIGEO" property="idUbigeo" />
		<result column="NOMBRE" property="nombre" />
		<association property="provincia" javaType="Provincia"
			column="IDPROVINCIA" select="com.tsiframework.core.infraestructure.repository.UbigeoDao.obtenerProvinciaPorId"></association>
	</resultMap>

	<resultMap id="ResultMapProvincia" type="Provincia">
		<id column="IDPROVINCIA" property="idProvincia" />
		<result column="NOMBRE" property="nombre" />
		<association property="departamento" javaType="Departamento"
			column="IDDEPARTAMENTO" select="com.tsiframework.core.infraestructure.repository.UbigeoDao.obtenerDepartamentoPorId"></association>
	</resultMap>

	<resultMap id="ResultMapDepartamento" type="Departamento">
		<id column="IDDEPARTAMENTO" property="idDepartamento" />
		<result column="NOMBRE" property="nombre" />
	</resultMap>
	
	
	<select id="obtenerUbigeoPorId" resultMap="ResultMapUbigeo"
		parameterType="Ubigeo">
		SELECT
		IDUBIGEO,
		NOMBRE,
		IDPROVINCIA
		FROM
		UBIGEO
		WHERE
		IDUBIGEO=#{ubigeo.idUbigeo}
	</select>

	<select id="obtenerProvinciaPorId" resultMap="ResultMapProvincia"
		parameterType="Provincia">
		SELECT
		IDPROVINCIA,
		NOMBRE,
		IDDEPARTAMENTO
		FROM
		PROVINCIA
		WHERE
		IDPROVINCIA=#{provincia.idProvincia}
	</select>
	
	<select id="obtenerDepartamentoPorId" resultMap="ResultMapDepartamento"
		parameterType="Departamento">
		SELECT
		IDDEPARTAMENTO,
		NOMBRE
		FROM
		DEPARTAMENTO
		WHERE
		IDDEPARTAMENTO=#{departamento.idDepartamento}
	</select>
	
	<!-- LISTAS -->

	<select id="listarUbigeoPorProvincia" resultMap="ResultMapUbigeo"
		parameterType="Provincia">
		SELECT
		IDUBIGEO,
		NOMBRE
		FROM
		UBIGEO
		WHERE
		IDPROVINCIA=#{provincia.idProvincia}
	</select>

	<select id="listarProvinciaPorDepartamento" resultMap="ResultMapProvincia"
		parameterType="Departamento">
		SELECT
		IDPROVINCIA,
		NOMBRE
		FROM
		PROVINCIA
		WHERE
		IDDEPARTAMENTO=#{departamento.idDepartamento}
	</select>

	<select id="listarDepartamentoPorNombre" resultMap="ResultMapDepartamento" parameterType="Departamento">
		SELECT
		IDDEPARTAMENTO,
		NOMBRE
		FROM
		DEPARTAMENTO
		WHERE NOMBRE LIKE = #{departamento.nombre}||'%'
	</select>
	
	<select id="listarDepartamento" resultMap="ResultMapDepartamento">
		SELECT
		IDDEPARTAMENTO,
		NOMBRE
		FROM
		DEPARTAMENTO		
	</select>







</mapper>